body{
    margin:0;
    font-family:Poppins,sans-serif;
}

.register-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#dff6e4,#d4e8ff);
}

.register-card{
    position:relative;
    width:420px;
    background:white;
    border-radius:18px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.register-card h1{
    text-align:center;
    color:#2E7D32;
    margin-bottom:25px;
}

.register-card input,
.register-card select{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
    box-sizing:border-box;
}

.register-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2E7D32;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.register-btn:hover{
    background:#1B5E20;
}

.login-text{
    margin-top:20px;
    text-align:center;
}

.login-link{
    display:block;
    text-align:center;
    text-decoration:none;
    color:#2E7D32;
    font-weight:600;
}

.close-btn{
    position:absolute;
    top:15px;
    right:18px;
    text-decoration:none;
    font-size:30px;
    color:#555;
}

.close-btn:hover{
    color:#d32f2f;
}

.register-card select:focus{
    border-color:#2E7D32;
    box-shadow:0 0 5px rgba(46,125,50,.3);
}

.register-select{
    margin-bottom:15px;
}